<!-- Footer Section Start -->
<footer class="footer-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-6 col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
                <h3><img src="assets/img/olivo-logo.png" alt=""></h3>
                <p>
                    Recordar es volver a vivir, Fotografias y videos digitales.
                </p>
            </div>
           
            <div class="col-6 col-xs-12 wow fadeInUp" data-wow-delay="0.8s">
                <!-- /.widget -->
                <div class="widget">
                    <h5 class="widget-title">Siguenos en</h5>
                    <ul class="footer-social">
                        <li>
                            <a class="facebook" target="_blank" href="https://www.facebook.com/FotoStudioOlivo/"><i class="lni-facebook-filled"></i></a>
                        </li>
                        <!-- <li><a class="twitter" href="#"><i class="lni-twitter-filled"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="lni-linkedin-filled"></i></a></li>
                        <li><a class="google-plus" href="#"><i class="lni-google-plus"></i></a></li> -->
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12 wow fadeInUp" data-wow-delay="0.2s">
                <p class="text-center pt-2">Esta página fue realizada por: 
                    <a href="mailto:yairrdz11@gmail.com">Yair Rodríguez</a>
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->