<div class="pricing-section my-2">
  <div class="container py-4">
    <div class="row d-flex justify-content-center">
      <h1 class="heading-title">Conoce nuestros paquetes</h1>
    </div>
    <div class="row d-flex justify-content-center">
      <p class="parraf-note">
        "Estos precios son para Salinas de Hgo. San Luis Potosí, estos precios podrian variar
        dependiento del lugar"
      </p>
      <p></p>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="pricingTable">
          <div class="pricingTable-header">
            <span class="price-value"><span class="currency">$</span>5200</span>
            <h3 class="title">Paquete Clásico</h3>
          </div>
          <ul class="pricing-content">
            <li>Cobertura del evento</li>
            <li>2 horas de video en formato digital DVD</li>
            <li>50 fotos tamaño 6x8</li>
            <li>1 Ampliación 8x10</li>
            <li>
              <b>Extra: Memoria USB con las fotos y/o video en digital*</b>
            </li>
          </ul>
          <a
            target="_blank"
            href="https://api.whatsapp.com/send?phone=+524961126860&text=Hola,%20Me gustaría%20tener%20más%20informacón%20sobre"
            class="pricingTable-signup"
          >
            Enviar Whatsapp
          </a>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="pricingTable green">
          <div class="pricingTable-header">
            <span class="price-value"><span class="currency">$</span>6980</span>
            <h3 class="title">Paquete Completo</h3>
          </div>
          <ul class="pricing-content">
            <li>Cobertura del evento</li>
            <li>2 horas de video en formato digital DVD</li>
            <li>100 fotos tamaño 6x8</li>
            <li>1 Ampliación 10x15</li>
            <li>1 copia del video en formato digital DVD</li>
            <li>
              <b>Extra: Memoria USB con las fotos y/o video en digital*</b>
            </li>
          </ul>
          <a
            target="_blank"
            href="https://api.whatsapp.com/send?phone=+524961126860&text=Hola,%20Me gustaría%20tener%20más%20informacón%20sobre"
            class="pricingTable-signup"
          >
            Enviar Whatsapp
          </a>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="pricingTable orange">
          <div class="pricingTable-header">
            <span class="price-value"><span class="currency">$</span>-</span>
            <h3 class="title">Paquete Premium</h3>
          </div>
          <ul class="pricing-content">
            <li>Covertura de evento</li>
            <li>2 horas video en formato digital DVD</li>
            <li>50 fotos 6x8</li>
            <li>Photobook del evento</li>
            <li>Ampliación 16x20</li>
            <li>1 copia del video en formato digital DVD</li>
            <li>
              <b>Extra: Memoria USB con las fotos y/o video en digital*</b>
            </li>
          </ul>
          <a
            target="_blank"
            href="https://api.whatsapp.com/send?phone=+524961126860&text=Hola,%20Me gustaría%20tener%20más%20informacón%20sobre"
            class="pricingTable-signup"
          >
            Enviar Whatsapp
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
