<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg fixed-top scrolling-navbar">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="icon-menu"></span>
            <span class="icon-menu"></span>
            <span class="icon-menu"></span>
          </button>
        <a href="/" class="navbar-brand"><img src="assets/img/olivo-logo.png" alt=""></a>
      </div>
      <div class="collapse navbar-collapse" id="main-navbar">
          <ul class="navbar-nav mr-auto w-100 justify-content-end">
              <li class="nav-item active">
                  <a class="nav-link" href="#header-wrap">
                      Inicio
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#gallery">
                      Galería
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#pricing">
                      Paquetes
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#location">
                      Ubicación
                  </a>
              </li>
          </ul>
      </div>
    </div>

  <!-- Mobile Menu Start -->
  <ul class="mobile-menu">
      <li>
          <a class="page-scroll" href="#header-wrap">Inicio</a>
      </li>
      <li>
          <a class="page-scroll" href="#gallery">Gallería</a>
      </li>
      <li>
          <a class="page-scroll" href="#pricing">Paquetes</a>
      </li>
      <li>
          <a class="page-scroll" href="#contact">Contacto</a>
      </li>
  </ul>
  <!-- Mobile Menu End -->

</nav>
<!-- Navbar End -->
